include ../mixins/sub-menu.pug
mixin header()
  header.client-header
    .container-header

      // LEFT
      .left
        a.logo(href="/")
          .logo-icon
            img(src="/images/dds_job_logo.svg" alt="DDS Jobs")
          span.logo-text DDS Jobs

        nav.nav
          ul.nav-list
            li
              - const jobsPath="/jobs";
              a.nav-item(href=jobsPath) Việc làm
              +sub-menu(layoutProductsCategory,jobsPath)

            li
              a.nav-item(href="/company") Công ty

            li
              a.nav-item(href="/about") Giới thiệu
            li
              a.nav-item(href="/applications") Đã ứng tuyển

      // RIGHT
      .right
        form(action="/search" method="GET")
          .search
            input(name="keyword" type="text" placeholder="Tìm việc, công ty..." value=keyword)
            button(type="submit" class="btn")
              i.fa-solid.fa-magnifying-glass
        if(user)
          a(href="/user/info")
            if(user.avatar)
              img.avatar-profile(src=user.avatar alt="Avatar")
            else
              img.avatar-profile(src="/images/default-avatar.png" alt="Avatar")
          a.logout(href="/user/logout") Đăng xuất
        else
            a.login(href="/user/login") Đăng nhập
            a.register(href="/user/register") Đăng ký
        .save-job-header
          a(href="/saved-jobs")
            span Đã lưu(#{miniSavedJobs.totalSavedJobs})
            i.fa-solid.fa-heart
