extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/job-layout.pug
include ../../mixins/box-head.pug
block main
  +alert-success(3000)
  +alert-error(3000)
  if jobs && jobs.length
    +boxHead(title)
    +job-grid(jobs)
  else
    .alert.alert-warning Không có công việc nào.