extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/form-search.pug

block styles
  link(rel="stylesheet" href="/css/form-search.css")

block main
  +alert-success(3000)
  +alert-error(3000)
  +form-search(keyword, jobs, filterLocation, filterType)
  script(src="/js/jobs.js")
