extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/job-layout.pug
include ../../mixins/box-head.pug
include ../../mixins/form-search.pug
block main
  +alert-success(3000)
  +alert-error(3000)
  +boxHead("Việc làm")
  +form-search(keyword,jobs, filterLocation, filterType)
  script(src="/js/jobs.js") 