mixin sub-menu(items,jobsPath)
  ul.submenu
    each item in items
      li
        a(href=`${jobsPath}/${item.slug}`) #{item.title}
        if item.children && item.children.length>0
            +sub-menu(item.children,jobsPath)